.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  
.content-table thead tr {
    background-color: #005498;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
  
.content-table th, .content-table td {
    padding: 12px 15px;
}

.false{
    color:rgb(197, 0, 0);
}

.true{
    color:rgb(3, 173, 12);
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}